.root {
    -fx-background-color: #333;
}

.logger {
    -fx-font-size: 12;
}

.text-field {
  -fx-border-color: #2ec135;
  -fx-border-width: 2px;
}

.button {
    -fx-border-color: #2ec135;
    -fx-border-width: 2px;
}

.pane {
    -fx-background-color: #37e840;
    -fx-border-color: #2ec135;
    -fx-border-width: 2px;
}

.movePane {
    -fx-background-color: #5eadf2;
    -fx-border-radius: 25px;
    -fx-background-radius: 25px;
    -fx-border-width: 5px;
}

.typePane {
    -fx-border-radius: 25px;
    -fx-background-radius: 25px;
}

.evoChainBox {
    -fx-border-radius: 25px;
    -fx-background-radius: 25px;
}

.listbox {
    -fx-border-width: 5px;
    -fx-border-radius: 25px;
    -fx-background-radius: 25px;
    -fx-background: transparent;
}

.list-view .list-cell:even {
    -fx-background-color: #db785c;
    -fx-margin: 5px;
    -fx-border-color: #2ec135;
    -fx-text-fill: black;
    -fx-border-radius: 25px;
    -fx-background-radius: 25px;
}
.list-view .list-cell:odd {
    -fx-background-color: #dbd65c;
    -fx-margin: 5px;
    -fx-border-color: #2ec135;
    -fx-text-fill: black;
    -fx-border-radius: 25px;
    -fx-background-radius: 25px;
}

.list-view .list-cell:hover {
    -fx-background-color: #38c9c4;
}

.list-view .list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: #38c9c4;
}

.spriteBox {
    -fx-background-color: white;
    -fx-border-style: solid;
    -fx-border-width: 5;
}

.typeLabel {
    -fx-border-radius: 25px;
    -fx-background-radius: 25px;
    -fx-text-align: center;
    -fx-border-color: #2ec135;
    -fx-border-width: 2px;
}