.root {
    -fx-background-color: #333;
}

.logger {
    -fx-font-size: 12;
}

.pane {
    -fx-background-color: #37e840;
    -fx-margin: 5px;
    -fx-border-color: #2ec135;
    -fx-border-width: 2px;
}

.typePane {
    -fx-border-radius: 25px;
    -fx-background-radius: 25px;
}

.evoChainBox {
    -fx-border-radius: 25px;
    -fx-background-radius: 25px;
}

.spriteBox {
    -fx-border-color: black;
    -fx-border-style: solid;
    -fx-border-width: 5;
}

.typeLabel {
    -fx-border-radius: 25px;
    -fx-background-radius: 25px;
    -fx-text-align: center;
}