#none {
   -fx-background-color: #f2f5f7;
}

#normal {
   -fx-background-color: #9C531F;
}

#fighting {
    -fx-background-color: #D83028;
}

#flying {
    -fx-background-color: #A8A7F8;
}

#poison {
    -fx-background-color: #A040A0;
}

#ground {
    -fx-background-color: #E0CDBC;
}

#rock {
    -fx-background-color: #B8A038;
}

#bug {
    -fx-background-color: #A8B820;
}

#ghost {
    -fx-background-color: #7058C0;
}

#steel {
    -fx-background-color: #B8B8D0;
}

#fire {
    -fx-background-color: #F08030;
}

#water {
    -fx-background-color: #6890F0;
}

#grass {
    -fx-background-color: #78C850;
}

#electric {
    -fx-background-color: #FBD030;
}

#psychic {
    -fx-background-color: #FD9888;
}

#ice {
    -fx-background-color: #98E7F4;
}

#dragon {
    -fx-background-color: #A738F8;
}

#dark {
    -fx-background-color: #705848;
}

#fairy {
    -fx-background-color: #FFE1CC;
}

.baseStat {
    -fx-font-size: 20px;
    -fx-font-weight: bold
}

#hp {
    -fx-background-color: #FF5959;
}

#atk {
    -fx-background-color: #F5AC78;
}

#defense {
    -fx-background-color: #FAE078;
}

#spatk {
    -fx-background-color: #9DB7F5;
}

#spdef {
    -fx-background-color: #A7DB8D;
}

#spd {
    -fx-background-color: #FA92B2;
}